<div class="sidebar">
    {{>title title='Лента чатов' customClass='sidebar__title'}}
    <div class="sidebar__messages">
        {{#each messages}}
            {{>message}}
        {{/each}}
    </div>
</div>