.button {
  background-color: #6667AB;
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  font-size: 1em;
  font-family: Helvetica, sans-serif;
  &--secondary {
    background-color: #999;
  }
}