<div class="content">
    <div class="content__header">
        {{>avatar avatar}}
        <div class="content__display-name">{{activeCompanionDisplayName}}</div>
    </div>
    <div class="content__body">

    </div>
    <div class="content__footer">
        {{>form}}
    </div>
</div>