@import '../../../variables';

.content {
  min-height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
  width: 75%;
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-align: left;
    gap: 20px;
    border-bottom: $border;
    min-height: 75px;
    padding-left: 10px;
  }
  &__footer {
    border-top: $border;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
    padding-left: 10px;
  }
  &__body {
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
  }
  &__plug {
    flex-grow: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  &__display-name {
    font-weight: bold;
  }
}