<div class="content__header">
    {{{avatar}}}
    <div class="content__display-name">{{activeCompanionDisplayName}}</div>
</div>

<div class="content__body">
</div>

<div class="content__footer">
    {{{form}}}
</div>