.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__form-field {
    display: flex;
    flex-direction: column;
  }
  &__form-field-input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #6667AB;
  }
}