<div class="registration">
    <div class="overlay">
        {{>logo}}
        <form class="form registration__form">
            {{#each fields}}
                {{>field}}
            {{/each}}
            {{>button registration}}
        </form>
        {{>link login}}
    </div>
</div>