@import '../../../../variables';

.sidebar-message {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: $border;
  padding: 10px;
  gap: 10px;
  cursor: pointer;

  &--selected {
    background-color: $primary-color-light-20;
  }
  &:hover {
    background-color: $primary-color-light-30;
  }
  &__content {
    width: 150px;
  }
  &__unread-count {
    background-color: $primary-color;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 3px;
    text-align: center;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  &__data {
    width: 40px;
    text-align: right;
    font-size: 0.8em;
  }
  &__avatar {
    width: 50px;
  }
  &__last-message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.8em;
    margin-top: 10px;
  }
}