<div class="message {{#if isSelected}}message--selected{{/if}}">
    <div class="message__avatar">{{>avatar avatar}}</div>
    <div class="message__content">
        <div class="message__sender">{{companionDisplayName}}</div>
        <div class="message__last-message">{{lastMessage}}</div>
    </div>
    <div class="message__data">
        <div class="message__time">{{time}}</div>
        {{#if unreadCount}}<div class="message__unread-count">{{unreadCount}}</div>{{/if}}
    </div>
</div>