<div class="change-data">
    <div class="overlay">
        {{>subTitle}}
        <form class="form change-data__form">
            {{#each fields}}
                {{>field}}
            {{/each}}
            {{>button save}}
        </form>
    </div>
</div>