body {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.login-form {
    display: flex;
    width: 300px;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 40px auto 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    padding:20px;
}

.login-form__label {
    text-align: left;
    font-size: 0.8em;
    color: #999;
}

.login-form__field {
    margin-top: 20px;
}

.login-form__input {
    margin-top: 5px;
    width: 100%
}

.login-form__title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.login-form__button {
    margin-top: 150px;
    width: 100%;
}

.login-form__link {
    text-align: center;
    margin-top: 5px;
}

.register-form {
    display: flex;
    width: 300px;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 40px auto 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    padding:20px;
}

.register-form__label {
    text-align: left;
    font-size: 0.8em;
    color: #999;
}

.register-form__field {
    margin-top: 20px;
}

.register-form__input {
    margin-top: 5px;
    width: 100%
}

.register-form__title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.register-form__button {
    margin-top: 150px;
    width: 100%;
}

.register-form__link {
    text-align: center;
    margin-top: 5px;
}

.profile__image {
    border-radius: 50%;
}

.profile {
    width: 600px;
    margin: 40px auto 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    padding:20px;
}

.profile__image-wrapper {
    text-align: center;
}

.profile__username {
    padding-top: 5px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.profile__table-user {
    margin-top: 20px;
}

.profile__table-actions{
    margin-top: 20px;
}

.profile__user-property-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.profile__table-action {
    padding-top: 5px;
}

.profile-change-data {
    width: 600px;
    margin: 40px auto 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    padding:20px;
}

.profile-change-data__user-property-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}