<div class="form__form-field">
    <span class="form__form-field-label">{{text}}</span>
    <input
        class="form__form-field-input"
        {{#if isDisabled}}disabled{{/if}}
        {{#if value}}value="{{value}}"{{/if}}
        type="{{type}}"
        name="{{name}}"
    />
</div>