@import './variables';

body {
  box-sizing: border-box;
  font-family: $font-stack;
  margin: 0;
  //overflow: hidden;
  font-size: 16px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.overlay {
  padding: 20px;
  border: $border;
  border-radius: $border-radius;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px auto;

  &--full-width {
    width: 100%;
    padding: 0;
  }
}

.text-center {
  text-align: center;
}