@use "sass:color";
$primary-color: #6667AB;
$secondary-color: #999;
$error-color: #f00;


$font-stack: Helvetica, sans-serif;

$border-radius: 4px;
$border: 1px solid $primary-color;

$primary-color-light-20: color.adjust($primary-color, 20%);
$primary-color-light-30: color.adjust($primary-color, 30%);