@import '../../../../variables';

.content-message {
  text-align: left;
  border: $border-secondary;
  border-radius: $border-radius;
  padding: 5px;
  display: inline;
  margin-right: auto;
  margin-left: 0;
  &--self {
    margin-right: 0;
    margin-left: auto;
    border: $border;
  }
}