@import './../../variables';

.link {
  color: $primary-color;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  &--error {
    color: $error-color;
  }
  &--left {
    text-align: left;
  }
}